.button {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-font-scale: 3pt;
    -fx-font-weight: 600;
    -fx-padding: 10 20 10 20;
}

.button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.button:hover {
    -fx-scale-y: 1.1;
}

.my-drop-down-menu {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
}

.my-drop-down-menu:hover {
    -fx-scale-y: 1.1;
}

.my-drop-down-menu-list-item {
    -fx-background-color: #2b669a;
    -fx-text-fill: #fff3f1;
    -fx-pref-width: 80pt;
}

.my-drop-down-menu-list-item:hover {
    -fx-background-color: #122b40;
    -fx-text-fill: white;
}