.text-field {
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.text-field:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.text-field:focused {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}